/* TODO center header a */
/* todo fix header? */
:root {
  --highlight: #DB6900;
  --support : #F09948;
  --light :#F5F5DC;
  --dark: #B95C3B;
}

button {
  background-color: var(--light);
  border: none;
  box-shadow: 1px 2px 2px #cecece;
  cursor: grab;
  font-family: 'Didact Gothic', serif;
  color: var(--highlight);
}

header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 100%;
}

.header-right {
  display: flex;
  flex-direction: row;
  align-content: center;
}

header h3 {
  color: var(--highlight);
  font-family: 'Zeyada', cursive;
  font-size:40px;
  margin: 0;
}

header a {
  color: black;
  font-size: 18px;
  margin: 10px 0;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-content: center;
}

input {
  border: none;
  border-bottom: solid 1px #cecece;
  caret-color: var(--highlight);
  font-family: 'Didact Gothic', serif;
  font-size: 25px;
}