.dish-details {
  display: flex;
  flex-direction: row;
  margin: 30px auto;
  max-width: 900px;
  height: 400px;
}

.details-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.details-left img {
  margin: 0 auto;
  box-shadow: 1px 2px 2px #cecece;
  width: 350px;
  min-height: 250px;
  max-height: 400px;
}

.details-right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: flex-start;
  margin: 10px;
  padding-left: 40px;
}

.dish-name {
  color: var(--highlight);
  font-size: 50px;
  margin: 0;
}

.dish-description {
  font-size: 20px;
  width: 490px;
}

.dish-price {
  font-size: 30px;
  margin: 0;
}

.dish-details button {
  font-size: 30px;
  margin: 5px;
  padding: 10px;
  max-width: 325px;
}

#edit {
  background-color: var(--light);
  border: none;
  box-shadow: 1px 2px 2px #cecece;
  cursor: grab;
  color: var(--highlight);
  font-size: 30px;
  margin: 5px;
  padding: 10px 40px;
  text-align: center;
  text-decoration: none;
  max-width: 100px;
  transition: 0.25s;
}

#edit:hover {
  background-color: var(--dark);
  color: var(--light);
}

#edit:active {
  transform: translateY(4px);
}

@media screen and (max-width: 975px) {
  .details-right {
    padding-left: 10px;
  }
}

@media screen and (max-width: 860px) {
  .dish-details {
    flex-direction: column;
    height: auto;
    width: 350px;
  }
  .details-right {
    justify-content: center;
    align-content: center;
    padding-left: 0;
  }
  .dish-name {
    font-size: 43px;
    margin: 0 auto;
    text-align: center;
  }
  .dish-description {
    font-size: 15px;
    width: 100%;
    margin: 0;
  }
  .dish-price {
    font-size: 24px;
    text-align: center;
    margin: 10px auto;
  }
  .dish-details button {
    font-size: 24px;
    margin: 0px auto;
  }
  #edit {
    margin: 0 auto;
  }
}
