/* TODO MEDIA QUERY */
.welcome {
  color: var(--support);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin-top: 10vh;
}

#welcome-to {
  font-size: 32px;
  margin: 0;
  display: inline;
}

#hero {
  position: relative;
  width: 600px;
  margin: 0 auto 20px;
}

#jadu-mart {
  color: var(--highlight);
  font-family: 'Zeyada', cursive;
  font-size: 150px;
  margin: 0;
  display: inline;
}

#marketplace-of {
  font-size: 27px;
  margin: 0;
  position: absolute;
  top: 160px;
  right: 0;
}

.welcome button {
  font-size: 35px;
  margin: 20px;
  padding: 25px 50px;
}

