:root {
  --dish: 45%;
  --price: 10%;
  --quantity: 30%;
  --subtotal: 15%;
}
.basket-screen {
  padding-bottom: 150px;
}

.basket-column-header {
  color: var(--highlight);
  display: flex;
  font-size: 20px;
  justify-content: space-evenly;
  text-align: center;
}

.basket-message {
  font-family: "Zeyada", cursive;
  font-size: 35px;
  text-align: center;
}

#column-dish {
  width: var(--dish);
}
#column-price {
  width: var(--price);
}
#column-quantity {
  width: var(--quantity);
}
#column-subtotal {
  width: var(--subtotal);
}

.basket-summary {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

button#order {
  font-size: 25px;
  padding: 5px 30px;
}

@media screen and (max-width: 771px) {
  .basket-screen {
    padding-bottom: 50px;
  }

  .basket-column-header {
    font-size: 18px;
  }

  #column-dish {
    width: 30%
  }
  #column-price {
    width: 20%
  }
  #column-quantity {
    padding-right: 5px;
  }
  #column-subtotal {
    width: 20%;
    margin-right: 5px;
  }

  .basket-summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
