.basket-screen {
  padding-bottom: 150px;
}

.basket-column-header {
  color: var(--highlight);
  display: flex;
  font-size: 20px;
  justify-content: space-evenly;
  text-align: center;
}

#column-dish {
  width: 40%;
}
#column-price {
  width: 10%; 
}
#column-quantity {
  width: 25%;
}
#column-subtotal {
  width: 25%;
}

.line-item {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  font-size: 24px;
  width: 100%;
}

.line-item-left {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 20%;
}

.line-name {
  width: 20%
}

.line-price {
  width: 10%
}

.line-quantity {
  width: 25%;
}

.line-subtotal {
  width: 25%
}

.remove-from-basket {
  border: none;
  background-color: white;
  color: var(--dark)
}

.basket-summary {
  display: flex;
  justify-content: space-evenly;
}